/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body {
  width: 100%; }

body {
  min-width: 320px;
  font: 14px "Fira Sans", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff; }

header::after, footer::after, div::after, nav::after, ul::after, form::after {
  content: '';
  display: table;
  clear: both; }

.page-wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1400px; }

.container {
  width: 100%;
  max-width: 1200px; }

.incontainer {
  padding: 0 15px; }

.hidden {
  display: none; }

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 500; }

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #303030; }

h3 {
  font-size: 21px;
  font-weight: 700; }

h4 {
  font-size: 16px;
  font-weight: 400; }

b {
  font-weight: 700; }

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
a {
  color: #1976ac;
  outline: 0; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%;
  vertical-align: bottom; }

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */
button, input, textarea {
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

button {
  cursor: pointer; }

.form input, .form textarea {
  width: 100%;
  color: #f9f9f9;
  background-color: #4d4d4d;
  border: 1px solid #747474; }
.form input {
  height: 40px;
  padding: 0 15px;
  margin-bottom: 20px; }
.form textarea {
  height: 100px;
  padding: 10px 15px; }
.form .reverse {
  color: #4d4d4d;
  background-color: #f9f9f9;
  border-color: #9f9f9f; }
.form .label__file {
  display: block;
  position: relative;
  z-index: 2;
  width: 167px;
  height: 40px;
  padding-right: 5px;
  padding-left: 35px;
  color: #f9f9f9;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #4d4d4d;
  border: 1px solid #747474;
  cursor: pointer; }
  .form .label__file .icon__addfile {
    display: block;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 13px;
    width: 15px;
    height: 17px;
    background-image: url("../images/icon__addfile.png"); }

.btn__callback {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 88px;
  height: 64px;
  padding: 30px 15px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #ededee;
  text-align: center;
  text-decoration: none;
  background-color: #fb151a; }
  .btn__callback::before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 30px;
    width: 23px;
    height: 23px;
    background-image: url("../images/icon__phone.png"); }

.btn__more {
  display: block;
  width: 127px;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  color: #303030;
  background-color: transparent;
  border: 2px solid #303030; }
  .btn__more span {
    border-bottom: 1px dashed #303030;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .btn__more:hover span {
    border-bottom-color: transparent; }

.btn__close {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer; }
  .btn__close::after, .btn__close::before {
    width: 10px;
    height: 10px;
    content: '';
    display: block;
    position: absolute;
    border-top: 3px solid #9f9f9f;
    border-right: 3px solid #9f9f9f; }
  .btn__close::after {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn__close::before {
    left: 14px;
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }
  .btn__close:hover::after, .btn__close:hover::before {
    border-color: #4d4d4d; }

form .btn__submit {
  display: block;
  width: 167px;
  height: 40px;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #f9f9f9;
  background-color: #c60509;
  border: none;
  cursor: pointer; }

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, button, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
header {
  height: 64px;
  padding: 14px 0 13px;
  background: #f6f6f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f7 0%, #dedee0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f7), color-stop(100%, #dedee0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f7 0%, #dedee0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f7 0%, #dedee0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f7 0%, #dedee0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f7 0%, #dedee0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.logo {
  float: left;
  width: 165px;
  height: 37px; }
  .logo a {
    display: block; }

.header__menu {
  float: left;
  margin: 0 0 0 200px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 37px; }
  .header__menu li {
    float: left; }
    .header__menu li + li {
      margin-left: 45px; }
  .header__menu a {
    color: #303030; }

.header__contacts {
  float: right;
  width: 255px; }
  .header__contacts .btn__callback {
    margin-top: -14px; }

.header__phone {
  float: right;
  font-size: 21px;
  font-weight: 500;
  color: #303030;
  line-height: 37px; }

/* ----------------------------------------------
 Nav
 ---------------------------------------------- */
#m-menu:not(.mm-menu), .mm-menu.mm-offcanvas {
  display: none; }

#m-menu-btn-wrapper {
  padding: 0;
  background-color: transparent;
  width: 70px;
  visibility: hidden;
  position: fixed;
  top: 7px;
  right: 0;
  z-index: 50; }

.mm-navbar {
  height: 64px; }
  .mm-navbar > * {
    padding: 22px 0; }

.mm-title {
  font-size: 20px; }

#mm-blocker {
  z-index: 1200;
  cursor: pointer; }

html.mm-front .mm-menu.mm-offcanvas {
  z-index: 30; }

.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 84px; }

.menu-button {
  cursor: pointer;
  padding: 0; }

.hamburger {
  padding: 13px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #4e4e4e;
  border-radius: 4px;
  position: absolute; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

html.mm-opening .hamburger--collapse .hamburger-inner {
  -ms-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }

html.mm-opening .hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -moz-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -o-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }

html.mm-opening .hamburger--collapse .hamburger-inner::before {
  top: 0;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* ----------------------------------------------
 Content
 ---------------------------------------------- */
.page-header {
  position: relative;
  z-index: 2;
  min-height: 393px;
  padding: 55px 0;
  color: #fff;
  background-image: url("../images/bg_pageheader.jpg");
  background-size: cover; }
  .page-header .container {
    position: relative;
    z-index: 5; }

.overlay__bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.page-header__content {
  /*float: left;
  max-width: 770px;*/
  padding-right: 330px;
  font-size: 16px; }
  .page-header__content h1 {
    margin-bottom: 30px; }
    .page-header__content h1 span {
      padding: 5px 10px;
      background-color: #fb151a; }
  .page-header__content p {
    margin-bottom: 30px;
    line-height: 25px; }

.page-header__block {
  width: 255px;
  height: 259px;
  padding: 15px;
  background-color: rgba(251, 21, 26, 0.57);
  position: absolute;
  right: 15px;
  top: 0; }
  .page-header__block h4 {
    margin-bottom: 25px; }

.page-header__list {
  padding-left: 15px; }
  .page-header__list li {
    margin-bottom: 20px;
    list-style: square; }

.examples {
  padding: 35px 0;
  background-image: url("../images/examples_bg.png");
  background-repeat: repeat;
  border-bottom: 1px solid #ececec; }
  .examples h2 {
    margin-bottom: 35px;
    text-align: center; }

.examples__box {
  float: left;
  width: 33.33333%;
  margin-bottom: 50px; }
  .examples__box img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .examples__box .examples__content {
    border: 5px solid transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .examples__box:hover img {
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15); }
  .examples__box:hover .examples__content {
    border-color: #9ba0a1; }

.link__image {
  display: block;
  width: 100%;
  overflow: hidden; }

.examples__text {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 15px 10px 15px 85px;
  font-size: 16px;
  background-color: #eaeaea; }
  .examples__text .data {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 10px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    background-color: #fb151a; }
  .examples__text .title {
    padding-left: 8px;
    border-left: 1px solid #ccc; }
    .examples__text .title a {
      color: #3a4a4b;
      text-decoration: none; }
    .examples__text .title:hover a {
      text-decoration: underline; }

/* Medium devices */
@media (max-width: 1199px) {
  /*.page-header__content {
    max-width: 650px;
  }*/ }
/* Small devices */
@media (max-width: 991px) {
  .container {
    max-width: 750px; }

  /* header {
     position: absolute;
     z-index: 3;
     top: 0;
     left: 0;
     width: 100%;
   }*/
  .header__menu {
    margin-left: 40px; }

  .header__content {
    max-width: 100%; }

  /*.page-header {
    height: 100%;
    min-height: 100vh;
    padding: 120px 0 20px;
  }*/
  /*.page-header {
    padding-top: 119px;
  }*/
  .page-header__block {
    display: none; }

  .page-header__content {
    text-align: center;
    float: none;
    padding-right: 0; }

  .examples__box {
    width: 50%; } }
/* Extra small devices */
@media (max-width: 767px) {
  h1 {
    font-size: 40px; }

  .header__menu {
    display: none; }

  #m-menu-btn-wrapper {
    visibility: visible; }

  .logo {
    float: none; }

  .header__phone {
    display: none; }

  .header__contacts {
    width: auto;
    float: left; }

  .btn__callback {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 70px;
    padding: 30px 0 10px; }
    .btn__callback::before {
      left: 25px; }

  .header__contacts .btn__callback {
    margin-top: 0; }

  .examples__box {
    float: none;
    width: 100%;
    max-width: 480px; } }
@media (max-width: 599px) {
  h1 {
    font-size: 28px;
    text-align: center; }

  /*.page-header {
    padding-top: 90px;
  }*/
  .page-header__content h1 {
    margin-bottom: 20px; }
    .page-header__content h1 span {
      padding: 0; }
  .page-header__content p {
    margin-bottom: 15px;
    line-height: 20px; } }

/*# sourceMappingURL=critical.css.map */
