/*search-advance slide*/
@keyframes slide-show {
    from {
        max-height: 0;
        padding: 0;
    }
    to {
        max-height: 100%;
        padding: 19px 0;
    }
}

@keyframes slide-hide {
    from {
        max-height: 100%;
        padding: 19px 0;
    }
    to {
        max-height: 0;
        padding: 0;
    }
}

